{% extends 'base.html' %}

{% block html_title %}{{_('業務内容')}} | {{_('SunFlower-Soft')}}{% endblock %}
{% block header %}{% include 'sfs/moudel/header.html' %}{% endblock %}
{% block title %}
    <div class="title"><img src="../static/sfs/images/sfs_title_01.jpg"></div>
{% endblock %}
{% block content %}
    <div id="contents" class="content">
        <div class="content_content">
            <div class="content_content_01">
                {{_('業務内容')}}
                <!-- <label></label> -->
            </div>
            <div></div>
        </div>
       <!--  <div id="content_goto" class="content_goto">
            <ul>
                <li><a>業務内容</a></li>
                <li><a href="javascript: homepage();">ホ ー ム</a></li>
                <li><a href="javascript: company_message();">社会情報</a></li>
                <li><a href="javascript: company_idea();">経営理念</a></li>
                <li><a href="javascript: company_employment();">採用情報</a></li>
            </ul>
        </div> -->
    </div>
    {% include 'sfs/moudel/common_js.html' %}
{% endblock %}
{% block footer %}{% include 'sfs/moudel/footer.html' %}{% endblock %}
