{% extends 'bnn_soft/base.html' %}

{% block html_title %}{{_('ホーム')}} | {{_('バナナソフト会社')}}{% endblock %}

{% block header %}
    <div class="logo"><img src="../static/bnn_soft/images/bnn_logo_01.jpg"></div>
{% endblock %}

{% block goto%}
    <div class="goto">
        <ul>
            <li><a href="javascript: homepage();">ホ ー ム</a></li>
            <li><a href="javascript: company();">社会情報</a></li>
            <li><a href="javascript: aaaa();">経営理念</a></li>
            <li><a href="javascript: bbbb();">業務内容</a></li>
            <li><a href="javascript: cccc();">採用情報</a></li>
        </ul>
    </div>
{% endblock %}

{% block title %}
    <div class="title"><img src="../static/bnn_soft/images/bnn_title_01.jpg"></div>
{% endblock %}

{% block content %}
    <div id="contents" class="content">
        <div class="content_content">
            <div class="content_content_01">
                <div class="icon_03"></div>
                <div class="title_01">{{_('採用情報')}}</div>
                <label></label>
            </div>
            <div class="content_content_02">
                <table>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="content_goto" class="content_goto">
            <ul>
                <li><a>採用情報</a></li>
                <li><a href="javascript: homepage();">ホ ー ム</a></li>
                <li><a href="javascript: company();">社会情報</a></li>
                <li><a href="javascript: aaaa();">経営理念</a></li>
                <li><a href="javascript: bbbb();">業務内容</a></li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">

    function homepage() {
        var url = {% url 'bnn_soft.bnn_homepage' %};
        var form = $("#jump_form");
        if (form) {
            $(form).attr("action", url);
            $(form).submit();
        }
    }

    function company() {
        var url = {% url 'bnn_soft.bnn_company' %};
        var form = $("#jump_form");
        if (form) {
            $(form).attr("action", url);
            $(form).submit();
        }
    }

    function aaaa() {
        var url = {% url 'bnn_soft.aaaa' %};
        var form = $("#jump_form");
        if (form) {
            $(form).attr("action", url);
            $(form).submit();
        }
    }

    function bbbb() {
        var url = {% url 'bnn_soft.bbbb' %};
        var form = $("#jump_form");
        if (form) {
            $(form).attr("action", url);
            $(form).submit();
        }
    }

    function cccc() {
        var url = {% url 'bnn_soft.cccc' %};
        var form = $("#jump_form");
        if (form) {
            $(form).attr("action", url);
            $(form).submit();
        }
    }

    </script>
{% endblock %}

{% block footer %}
    {{_('Copyright BananaSoft Co. Ltd. All Rights Reserved.')}}
{% endblock %}