<script type="text/javascript">

function homepage() {
    var url = {% url 'sfs.homepage' %};
    var form = $("#jump_form");
    if (form) {
        $(form).attr("action", url);
        $(form).submit();
    }
}

function company_message() {
    var url = {% url 'sfs.company_message' %};
    var form = $("#jump_form");
    if (form) {
        $(form).attr("action", url);
        $(form).submit();
    }
}

function company_idea() {
    var url = {% url 'sfs.company_idea' %};
    var form = $("#jump_form");
    if (form) {
        $(form).attr("action", url);
        $(form).submit();
    }
}

function company_business() {
    var url = {% url 'sfs.company_business' %};
    var form = $("#jump_form");
    if (form) {
        $(form).attr("action", url);
        $(form).submit();
    }
}

function company_employment() {
    var url = {% url 'sfs.company_employment' %};
    var form = $("#jump_form");
    if (form) {
        $(form).attr("action", url);
        $(form).submit();
    }
}

</script>