<div class="header_content">
    <div class="logo"><img src="../static/sfs/images/sfs_logo_01.png"></div>
    <div class="goto">
        <ul>
            <li><a href="javascript: homepage();">ホーム</a></li>
            <li><a href="javascript: company_message();">社会情報</a></li>
            <li><a href="javascript: company_idea();">経営理念</a></li>
            <li><a href="javascript: company_business();">業務内容</a></li>
            <li><a href="javascript: company_employment();">採用情報</a></li>
        </ul>
    </div>
</div>