@charset "UTF-8";
body {
    background-color: #fff;
    margin: 0px;
    color: #354054;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/**
    时间选用 time 样式
    导航选中中 #4a4e57 非选中用 #4a4e57
    默认字体颜色用 ＃354054
    字号，
    导航标题用18px字体

    题目标题用30px字体
    
    小标题用18px
    正文16px
    辅助信息用14px
    时间12px

    颜色尽量少用
    标题和logo颜色趋同＃8fc41

    #3884ff用于信息提示
*/

.time {
    color: #6a737d;
}


/* header */

.header {
    background-color: #fff;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
}

.header_content {
    width: 990px;
    height: 100%;
    margin: auto;
    display: flex;
}

.logo {
    width: 90px;
    height: 100%;
    float: left;
}

.goto {
    width: 750px;
    float: left;
    padding-top: 15px;
    padding-left: 200px;
}

.active {
    color: #4a4e57;
}

.active:after {
    content: "";
    display: block;
    margin-top: 15px;
    height: 2px;
    background: #3884ff;
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    font-size: 0;
}

ul li {
    display: inline-block;
    float: left;
}

ul li a {
    display: block;
    transition: 0.2s all;
    width: 149px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #8c919b;
    text-align: center;
    border-left: 1px solid #e2e2e2;
}

ul li:first-child a {
    width: 100px;
    border-left: 0px;
}

ul li a:link {
    text-decoration: none;
}


/*ul li a:hover {
    color: #fff;
    background-color: #8fc841;
}*/


/* main */

.container {
    width: 990px;
    height: auto;
    margin: auto;
    padding-top: 5px;
}

.contents {
    width: 100%;
    min-height: 84vh;
    height: auto;
}

#contents {
    display: flex;
}

.title {
    background-color: #FFFFFF;
    width: 100%;
    /*height: 200px;*/
}

.title img{
    width: 100%;
    height: 400px;
}

.content {
    width: 100%;
    /*height: 600px;*/
    padding-bottom: 30px;
    margin-top: 30px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.col-md-4 {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    border-right: 4px;
}


/*card模块，对于特殊需要控制高度的应该用 fix-height来设定*/
.card-module {
    /*background: #2aaddd;*/
    padding: 10px;
    border: 1px solid #e2e2e2;
}

.card-title {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
}

.card-content {
    font-size: 14px;
    margin-top: 10px;
}

.card-action {
    color: #fff;
    text-align: center;
    background: rgb(56,136,256);
    background: rgba(56,136,256,0.8);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.card-action:hover {
    background: rgb(56,136,256);
    background: rgba(56,136,256,1);
}

.fix-height {
    height: 50px;
}

.icon_01 {
    width: 240px;
    height: 180px;
    float: left;
}

.icon_02 {
    width: 240px;
    height: 180px;
    float: left;
    margin-left: 10px;
}

.part_01 {
    background-color: #8fc841;
    width: 100%;
    height: 50px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.part_02 {
    width: 238px;
    height: 20px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    font-size: 13px;
    text-align: center;
    padding-top: 25px;
}

.part_03 {
    width: 238px;
    height: 64px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}

.circle {
    background-color: #FFA500;
    width: 30px;
    height: 30px;
    border-radius: 17px;
    border: 2px solid #FFFFFF;
    position: relative;
    margin: auto;
    margin-top: -17px;
    margin-bottom: -17px;
    cursor: pointer;
}

.line_01 {
    background-color: #e2e2e2;
    width: 180px;
    height: 1px;
    position: relative;
    margin: auto;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
}

.message {
    width: 448px;
    /*height: 350px;*/
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    border: 1px solid #e2e2e2;
}

.message_title {
    width: 100%;
    height: 30px;
}

.message_title_01 {
    background-color: #3884ff;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    float: left;
}

.message_title_02 {
    width: 320px;
    height: 30px;
    /*padding-top: 4px;*/
    line-height: 30px;
    float: left;
    font-weight: bold;
    font-size: 18px;
    /*color: #8fc841;*/
}

.line_02 {
    background-color: #e2e2e2;
    width: 448px;
    height: 2px;
}

.message_content {
    width: 428px;
    /*height: 278px;*/
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    /*text-align: left;*/
    padding-bottom: 10px;
}

.topic {
    width: 448px;
    height: 350px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    border: 1px solid #e2e2e2;
}

.topic_title {
    width: 100%;
    height: 30px;
}

.topic_title_01 {
    background-color: #3884ff;
    width: 10px;
    height: 10px;
    margin: 10px;
    float: left;
    border-radius: 50%;
}

.topic_title_02 {
    width: 320px;
    height: 30px;
    /*padding-top: 4px;*/
    line-height: 30px;
    float: left;
    font-weight: bold;
    font-size: 18px;
    /*color: #8fc841;*/
}

.topic_content {
    width: 448px;
    height: 278px;
    margin-top: 5px;
}

.news {
    width: 428px;
    height: 69px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-bottom: 1px dashed #4C4C4C;
    font-size: 12px;
}

.news_content {
    font-size: 16px;
    color: #354054;
}


/* footer */

.footer {
    background-color: #e9edf3;
    width: 100%;
    height: 30px;
    border-top: 1px solid #e2e2e2;
    font-size: 10px;
    /*color: #FFFFFF;*/
    text-align: center;
    padding-top: 19px;
}

.content_goto {
    width: 198px;
    height: 100%;
    float: left;
    margin-top: 20px;
    margin-left: 22px;
    flex: 25;
}

.content_content {
    flex: 75;
    /*width: 770px;*/
    float: left;
    margin-top: 20px;
}

#content_goto ul {
    list-style-type: none;
    width: 198px;
    height: 100%;
    font-size: 0;
}

#content_goto ul li {
    display: block;
}

#content_goto ul li:nth-child(1) a {
    width: 198px;
    height: 30px;
    background-color: #458B00;
    padding-top: 10px;
    border-left: 0px;
}

#content_goto ul li:nth-child(2) a {
    display: block;
    width: 198px;
    height: 32px;
    text-align: center;
    color: #FFA500;
    background-image: url(../images/btn.png);
    padding-top: 8px;
    border-left: 0px;
}

#content_goto ul li:nth-child(2) a:hover {
    color: #458B00;
}

#content_goto ul li:nth-child(3) a {
    display: block;
    width: 198px;
    height: 32px;
    text-align: center;
    color: #FFA500;
    background-image: url(../images/btn.png);
    padding-top: 8px;
    border-left: 0px;
}

#content_goto ul li:nth-child(3) a:hover {
    color: #458B00;
}

#content_goto ul li:nth-child(4) a {
    display: block;
    width: 198px;
    height: 32px;
    text-align: center;
    color: #FFA500;
    background-image: url(../images/btn.png);
    padding-top: 8px;
    border-left: 0px;
}

#content_goto ul li:nth-child(4) a:hover {
    color: #458B00;
}

#content_goto ul li:nth-child(5) a {
    display: block;
    width: 198px;
    height: 32px;
    text-align: center;
    color: #FFA500;
    background-image: url(../images/btn.png);
    padding-top: 8px;
    border-left: 0px;
}

#content_goto ul li:nth-child(5) a:hover {
    color: #458B00;
}

.content_content_01 {
    position: relative;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
}

.content_content_01:after {
    content: '';
    display: block;
    background: #3884ff;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 30px;
}

.title_01 {
    width: 200px;
    height: 22px;
    padding-top: 3px;
    float: left;
    font-size: 14px;
}

.content_content_02 {
    height: auto;
    margin-top: 20px;
    padding-left: 10px;
}

.clearfix {
    overflow: hidden;
    _zoom: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    width: 21%;
    height: 30px;
    border: 1px solid #dfe6ec;
    padding: 0px;
}

th.cell {
    position: relative;
    word-wrap: normal;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    color: #1f2d3d;
}

td {
    width: 79%;
    height: 30px;
    border: 1px solid #dfe6ec;
    padding: 0px;
}

.table-hover tr:hover {
    background: #eef1f6;
}
