<div>
    <div>
        {% include left_goto_menu.html %}        
        <div id="contact">
            <table>
                <tr>
                    <th colspan="2" align="left">{{_('お問い合わせ先')}}</th>
                </tr>
                <tr>
                    <td>{{_('Email: info@bnn-soft.com')}}</td>
                </tr>
                <tr>
                    <td>{{_('Tel: 047-326-8544')}}</td>
                </tr>
                <tr>
                    <td>{{_('Fax: 047-326-8544')}}</td>
                </tr>
                <tr>
                    <td>{{_('Web: http://www.bnn-soft.com')}}</td>
                </tr>
                <tr>
                    <td>{{_('住所: 〒272-0034 千葉県市川市市川南3-10-12 ３階')}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div></div>
</div>